<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="containers">
        <h1>Login</h1>
        <div class="form-box">
            <div class="links">
                <a href="/log" class="active">Login</a>
                <a href="/reg">Register</a>
            </div>
            <form action="{{ url_for('log') }}" method="post" autocomplete="off">

                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <br>
                <br>
                <label for="passord">Password</label>
                <input type="password" name="password" placeholder="Enter Password" id="password" required>
                <br>
                <br>
                <div class="msg">{{ msg }}</div>

                <input type="submit" id="sub" value="Login">
               

            </form>
            <script>
                onclick = document.getElementById('sub').innerHTML = SubmitEvent()
                onkeypress = document.getElementById('sub').innerHTML = SubmitEvent()
            </script>
        </div>
    </div>
</body>

</html>